{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="split left">
    <h2 align="center">Enter Text or Use Mic</h2>
    <br>
    <form method="post" align="left">
        {% csrf_token %}
        <input type="text" name="sen" class="mytext" id="speechToText" placeholder="Enter sentence" required>
        <button type="button" class="mic" onclick="record()">
            <img src="{% static 'microphone.png' %}" height="32" width="38" />
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="submit" value="Submit">
    </form>
    <br>

    {% if words %}
    <table cellspacing="20px">
        <tr>
            <td class="td">The text that you entered is:</td>
            <td class="td">{{ text }}</td>
        </tr>
        <tr>
            <td class="td">Key words in sentence:</td>
            <td class="td">
                <ul class="td" id="list" align="center">
                    {% for word in words %}
                    <li id="word{{ forloop.counter0 }}" style="margin-right: 8px">{{ word }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    {% endif %}
</div>

<div class="split right">
    <h2 align="center">Sign Language Animation</h2>
    <div style="text-align:center">
        <button class="submit" onclick="playPause()">Play/Pause</button>
        <video id="videoPlayer" width="600" height="350" preload="auto" autoplay muted>
            <source src="" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>

<script>
    // Speech-to-text using webkitSpeechRecognition
    function record() {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = 'en-IN';
        recognition.onresult = function(event) {
            document.getElementById('speechToText').value = event.results[0][0].transcript;
        }
        recognition.start();
    }

    // Play animation sequence
    var isPlaying = false;
    function play() {
        var videos = document.getElementById("list").getElementsByTagName("li");
        var videoSource = [];
        for (var j = 0; j < videos.length; j++) {
            videoSource[j] = "{% static '' %}" + videos[j].innerHTML + ".mp4"; // Adjust folder if needed
        }

        var i = 0;
        var videoCount = videoSource.length;

        function videoPlay(videoNum) {
            var li = videos[videoNum];
            li.style.color = "#09edc7";
            li.style.fontSize = "xx-large";
            var player = document.getElementById("videoPlayer");
            player.setAttribute("src", videoSource[videoNum]);
            player.load();
            player.play();
        }

        function nextVideo() {
            videos[i].style.color = "#007a5a";
            videos[i].style.fontSize = "20px";
            i++;
            if (i < videoCount) {
                videoPlay(i);
            } else {
                document.getElementById("videoPlayer").pause();
                isPlaying = false;
            }
        }

        document.getElementById('videoPlayer').addEventListener('ended', nextVideo, false);

        if (videoCount > 0) {
            isPlaying = true;
            videoPlay(0);
        }
    }

    function playPause() {
        var player = document.getElementById("videoPlayer");
        if (!isPlaying) {
            play();
        } else {
            if (player.paused) {
                player.play();
            } else {
                player.pause();
            }
        }
    }
</script>
{% endblock %}
